<!DOCTYPE html>
<html>
  <head>
    <script src="jquery.js"></script>
    <script src="underscore.js"></script>
    <script src="backbone.js"></script>

    <script>

    //fake data - fake REST endpoint-substitute

    //array of apple objects

    var appleData = [
      {
        name: 'fuji',
        url: 'img/fuji.jpg'
      },
      {
        name: 'gala',
        url: 'img/gala.jpg'
      }
    ];




    //the BACKBONE

    var app;

    //ROUTER

    var router = Backbone.Router.extend({
      routes: {
        '': 'home',
        'apples/:appleName' : 'loadApple'

      },
      initialize: function(){
        //executed upon object instantiation
        var apples = new Apples(); // new collection
        apples.reset(appleData);;  // pass models to collection

        this.homeView = new homeView({collection: apples});
        this.appleView = new appleView({collection:apples});
      },

      loadApple: function(appleName){
        this.appleView.loadApple(appleName);
      },


      home: function(){
        this.homeView.render();
      }
    });

    //VIEWS

      //homeView

    var homeView = Backbone.View.extend({
      el: 'body', //CSS API
      template: _.template('Apple Data: <%= data %>'), //interpolate JSON
      render: function(){
        this.$el.html(this.template({
          data: JSON.stringify(this.collection.models)
        }));
      }
    });

      //apple View

    var appleView = Backbone.View.extend({
      template: _.template(
        '<figure>'
          + '<img src="<%- attributes.url %>"><figcaption><%- attributes.name %>' + '</figcaption>'
        +'</figure>'),

      render: function(appleName){
        var appleModel = this.collection.where({name: appleName})[0];
        var appleHtml = this.template(appleModel);
        $('body').html(appleHtml);
      },

      initialize: function(){

      }
    });

    //COLLECTIONS

    var Apples = Backbone.Collection.extend({

    });

    // MISSILES!

    $(document).ready(function(){
      app = new router; //why the fuck does this work? router = object
      Backbone.history.start(); // browser history API tyme
    });


    </script>

  </head>
  <body>
    umm
    <div></div>
  </body>
</html>